@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: 'Poppins', sans-serif; 
    background-color: hsl(0, 0%, 98%);
}
.wrapper{
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.wrapper__heading{
    text-align: center;
    width: 65%;
}
.heading__top{
    font-weight: 200;
    font-size: 2.5rem;
    color: hsl(234, 12%, 34%);
}
.wrapper__heading h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-top: -0.25rem;
    margin-bottom: 1rem;
}
.heading__bot{
    width: 80%;
    margin: auto auto;
    color: hsl(229, 6%, 66%);
}
.wrapper__sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sections__column{
    width: 31.5%;
}
.column__tworows{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.sections__card{
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem 0.3rem 0.5rem 0.5rem;
    border-top: 0.3rem solid;
    box-shadow: 0rem 0.8rem 1.5rem hsl(229, 6%, 80%);
}
.sections__card-red{
    border-top-color: hsl(0, 78%, 62%);
}
.sections__card-cyan{
    border-top-color: hsl(180, 62%, 55%);
}
.sections__card-orange{
    border-top-color: hsl(34, 97%, 64%);
}
.sections__card-blue{
    border-top-color: hsl(212, 86%, 64%);
}
.sections__card h2{
    margin-bottom: 0.7rem;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 1.25rem;
}
.sections__card p{
    color: hsl(229, 6%, 66%);
    font-size: 0.8rem;
}
.sections__card img{
    margin-top: 3rem;
    align-self: flex-end;
}
@media all and (max-width: 64rem){
    body{
        align-items: flex-start;
        justify-content: center;
    }
    .wrapper{
        max-width: 19.5rem;
        padding: 5rem 0;
    }
    .wrapper__heading{
        width: 100%;
    }
    .heading__top, .wrapper__heading h1{
        font-size: 1.4rem;
    }
    .wrapper__heading h1{
        margin-top: 0;
    }
    .heading__bot{
        font-size: 0.95rem;
        width: 100%;
    }
    .wrapper__sections{
        flex-direction: column;
    }
    .sections__column{
        width: 100%;
    }
    .sections__card{
        margin-bottom: 2rem;
    }
    .column__tworows{
        gap: 0rem;
    }
}